<section class="flexslider home" id="flexslider">
  <ul class="slides" id="C-HomeSlide"><li class="slide slide01 js-slideCta" style="background-image: url(/img/carousel/back.jpg);">
      <a href="https://www.facebook.com/Solflamingo" class="innerSlide onepcssgrid-1000">
        &nbsp;
      </a>
    </li>
    <li class="slide slide02 clarabridgeSix" style="background-image: url(/img/carousel/typewriter.jpg);">
      <a href="#" class="innerSlide onepcssgrid-1000">
        &nbsp;
      </a>
    </li>
    <li class="slide slide03 " style="background-image: url(/img/carousel/redcat.jpg);">
      <a href="http://www.youtube.com/watch?v=VdDQdloIuyE" class="innerSlide onepcssgrid-1000">
        &nbsp;
      </a>
    </li>
  </ul>
</section>
