<section class="flexslider home" id="flexslider">
  <ul class="slides" id="C-HomeSlide"><li class="slide slide01 js-slideCta" style="background-image: url(/img/carousel/home-purple.jpg);">
      <a href="#" class="innerSlide onepcssgrid-1000">
        &nbsp;
      </a>
    </li>
    <li class="slide slide02 clarabridgeSix" style="background-image: url(/img/carousel/home-teal.jpg);">
      <a href="http://www.clarabridge.com/PRODUCTS/Latest-Product-News/" class="innerSlide onepcssgrid-1000">
        &nbsp;
      </a>
    </li>
    <li class="slide slide03 " style="background-image: url(/img/carousel/home-3.jpg);">
      <a href="http://clarabridge.com/ABOUT-US/News-and-Events/Upcoming-Events/" class="innerSlide onepcssgrid-1000">
        &nbsp;
      </a>
    </li>
  </ul>
</section>
