<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="public/css/d.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/site.css">
    <link rel="shortcut icon" href="img/favicon.ico">
    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <script type="text/javascript" src="//use.typekit.net/mnv6thp.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

    <header id='mainHeader' class="mainHeader group">
      <div id="headerBg" class="headerBg"></div>
      <div class="mainHeaderWrap wrap">
        <h1 class="mainSiteTitle">Sol Flamingo</h1>
        <div id='page-logo' class="mainLogo">
	  <a class="home_link" href="#">
	    <!--<img src="img/logo-2.png" />-->
	  </a>
	</div>
        <button id="menuButton" class="menuButton">Menu</button>
        <nav id="mainNav" class="mainNav">
          <div class="pointerBg"></div>
          <ul class='topMenu'>
	    <li class='topMenuItem'><a class='navLink' target="_blank" href='https://www.facebook.com/Solflamingo'>FACEBOOK</a></li>
	    <li class='topMenuItem'><a class='navLink' target="_blank" href='https://twitter.com/SolFlamingo'>TWITTER</a></li>
	    <li class='topMenuItem'><a class='navLink' target="_blank" href='http://www.youtube.com/watch?v=VdDQdloIuyE'>YOU TUBE</a></li>
	    <!--<li class='topMenuItem'><a class='navLink' href='https://soundcloud.com/solflamingo/sol-flamingos-gatos-ep-single'>SOUND CLOUD</a></li>-->
	  </ul>
        </nav>
      </div>
    </header>

    <div class="headerSocial social">
      <ul class="socialIcons">
        <li><a href="https://www.facebook.com/Solflamingo" target="_blank" class="socialIcon facebook"></a></li>
        <li><a href="https://twitter.com/SolFlamingo" target="_blank" class="socialIcon twitter"></a></li>
        <li><a href="http://www.youtube.com/watch?v=VdDQdloIuyE" target="_blank" class="socialIcon googlePlus"></a></li>
        <li><a href="https://soundcloud.com/solflamingo/sol-flamingos-gatos-ep-single" target="_blank" class="socialIcon linkedin"></a></li>
      </ul>
    </div>

    <section id="content">
      <%= yield %> 
    </section>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
      <script src="js/vendor/jquery.flexslider-min.js"></script>
      <script src="js/plugins.js"></script>
      <script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
      </script>
      <script src="js/main.js"></script>      
  </body>
</html>
